<html>

<head>
    <title>Learning</title>

    <link rel="stylesheet" href="../public/css/index.css">

    <script src="https://kit.fontawesome.com/5f2a2ad0fd.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="topnav">
    <a href="/">Learning</a>
    <a class="profile" href="/profile">
        <img src="/profile/image" alt="Profile">
    </a>
</div>

<div class="profile-main-div">
    <div class="profile-main-div-left">
        <img class="profile-img-large" src="/profile/image" alt="Profile">

        <h1>{Username}</h1>

        <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus suspendisse faucibus interdum posuere.
        </span>
    </div>
</div>

<div class="footer">
    <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
</div>
</body>
</html>